#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [5]:
import pymysql
from sqlalchemy import create_engine

In [7]:
pymysql.install_as_MySQLdb()

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats)

In [10]:
engine = create_engine('mysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [13]:
users = pd.read_sql_query('SELECT * FROM users', engine)

#### 5. Rename Id column to userId

In [15]:
users.rename(columns={'Id':'userId'}, inplace=True)
users.head(1)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None

#### 6. Import the posts table.

In [16]:
posts = pd.read_sql_query('SELECT * FROM posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [18]:
posts.rename(columns={'Id':'postId', 'OwnerUserId':'userId'}, inplace=True)
posts.head(1)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [20]:
new_users = users[['userId','Reputation','Views','UpVotes','DownVotes']]
new_posts = posts[['postId','Score','userId','ViewCount','CommentCount']]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [29]:
result = new_users.merge(new_posts, how='inner', on='userId')
#result.count()
print(result.count())
print(new_posts.count())
print(new_users.count())

new_posts['postId'].count() - result['postId'].count()
result

userId          90584
Reputation      90584
Views           90584
UpVotes         90584
DownVotes       90584
postId          90584
Score           90584
ViewCount       42188
CommentCount    90584
dtype: int64
postId          91976
Score           91976
userId          90584
ViewCount       42921
CommentCount    91976
dtype: int64
userId        40325
Reputation    40325
Views         40325
UpVotes       40325
DownVotes     40325
dtype: int64

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [71]:
'''How many missing values: 1392 records from post data
Columns:
    CommentCount
    ViewCount
    Score
    PostId'''

missing_values = new_posts.merge(new_users, how='left', on='userId')
print('missing values:', missing_values[~missing_values.userId.isin(new_users.userId)].postId.count())
print(missing_values[~missing_values.userId.isin(new_users.userId)].head(3))

missing values: 1392
    postId  Score  userId  ViewCount  CommentCount  Reputation  Views  \
16      17      9     NaN     1261.0             0         NaN    NaN
27      28      6     NaN        NaN             0         NaN    NaN
54      56     56     NaN        NaN             7         NaN    NaN

    UpVotes  DownVotes
16      NaN        NaN
27      NaN        NaN
54      NaN        NaN

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [ ]:
#since there is no record in users which can be matched with nan value at userId in new_posts dataframe, we could use -1 value which is used to keep db clean as it is mentioned in aboutMe field
#there is another way to get all records that is creating new user which is going to be associated to nan values (nan values should be replaced with new id)

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.